<!DOCTYPE html>
<html>
<body>
	<nav id = "navbar">
		<ul>
			<div class="dropdown">
				<button class="dropbtn">Navigation</button>
					<div class="dropdown-content">
						<a href="/">Home!</a>
						<a href="https://code.pendragonscode.xyz/">Portfolio!</a>
						<a href="https://code.pendragonscode.xyz/contact">Contacts!</a>
						<a href="https://pendragonscode.xyz">Main Site!</a>
					</div>
			</div>
		</ul>
	</nav>
	<h1>Error 404!</h1>
	<link rel="stylesheet" href="/css/styles.css">
</body>
</html>

