<!DOCTYPE html>
<html>
<body>
	<nav id = "navbar">
		<ul>
			<div class="dropdown">
				<button class="dropbtn">Navigation</button>
					<div class="dropdown-content">
						<a href="https://code.pendragonscode.xyz/">Portfolio!</a>
						<a href="https://code.pendragonscode.xyz/contact">Contacts!</a>
						<a href="https://pendragonscode.xyz">Main Site!</a>
					</div>
			</div>
		</ul>
	</nav>
	<h1>A basic translator!</h1>
	<form id="translate" autocomplete="off">
		<label for="from">From:</label>
		<select id="from" name="from">
		<option value="auto">auto</option>
		<%-optionsFromTo%>
		</select><br><br>
		<label for="to">To:</label>
		<select id="to" name="to">
		<%-optionsFromTo%>
		</select><br><br>
		<label for="text">Text:</label>
		<input type="text" id="text" name="text"><br><br>
		<button class="btn">Send</button>
	</form>
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/clientSocketHandler.js"></script>
</body>
</html>

